
if error
    p.error
        = error
if success
    p.success
        = success

form(method="POST" action="." autocomplete="off")
    table
        tr
            td(colspan="2")
                h2 Order
                
                
        tr
            td Price:
            td
                input(type="text" name="currency_amount" value=reqBody.currency_amount)
        tr
            td Currency:
            td
                select(name="currency_type" value=reqBody.currency_type)
                    each currency in currencies
                        option(value=currency.code)
                            = currency.displayName
        tr
            td Full Name:
            td
                input(type="text" name="fullName" value=reqBody.fullName)
                
                
        tr
            td(colspan="2")
                br
                h2 Payment
                
                
        tr
            td Name on card:
            td
                input(type="text" name="card_name" value=reqBody.card_name)
        tr
            td Card type
            td
                select(name="card_type" value=reqBody.card_type)
                    each type in cardTypes
                        option(value=type)
                            = type
        tr
            td Card number:
            td
                input(type="text" name="card_number" value=reqBody.card_number)
        tr
            td Credit card expiration date:
            td
                select(name="card_expiration" value=reqBody.card_expiration)
                    each expiration in expirationDates
                        option(value=expiration.code)
                            = expiration.displayName
        tr
            td CCV:
            td
                input(type="text" name="card_ccv" value=reqBody.card_ccv)
    
    input(type="submit")
